* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'times new roman', 'times', 'georgia', serif;
  width: 100%;
}

.body-copy {
  position: absolute;
  width: 100vw;
  min-height: 1000px;
  max-height: 1300px;
  display: flex;
}

.body-copy .half{
  flex: 1;
  z-index: -1;
}

.half:nth-of-type(1) {
  background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243));
}

.half:nth-of-type(2) {
  background: linear-gradient(rgb(0, 128, 0), rgb(0, 100, 0));
}

.body-copy .body-cover {
  width: 50%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: pink;
}

.half:nth-of-type(1) .body-cover{
  background: linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243));
}

.half:nth-of-type(2) .body-cover{
  background: rgba(0, 0, 0, .5);
}

fieldset label {
  display: block;
}

.wrapper {
  max-width: 1500px;
  min-height: 1000px;
  max-height: 1300px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  overflow-x: hidden;
}

section h1 {
  font-family: 'Special Elite', cursive;
  font-size: 80px;
  margin-top: 300px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.title {
  position: relative;
}

.title > div:nth-of-type(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
}

.title > div:nth-of-type(2){
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  overflow-x: scroll;
  padding-top: 15px;
  overflow: hidden;
}

section {
  min-height: inherit;
  max-height: inherit;
  background: linear-gradient(green, darkgreen);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}

@keyframes slide {
  0% {
    top: 0;
  }

  100% {
    top: -200%;
  }
}

.landing-page {
  z-index: 2;
}

.game-page {
  z-index: 1;
}

.title,
.cards {
  width: 70%;
  position: relative;
}

.side-bar {
  padding: 50px 20px;
  width: 30%;
  background: linear-gradient(#fff, #f3f3f3);
}

.cards {
  padding: 15px 35px;
}

.cards > p {
  display: inline-block;
  width: 48%;
  font-size: 24px;
  color: white;
}

.cards > p:nth-of-type(2) {
  text-align: right;
}

.game-buttons {
  width: 333px;
  margin: 0 auto;
}

.game-buttons button {
  display: inline-block;
}

.game-buttons button:nth-of-type(2) {
  margin: 0 20px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 8px 25px;
  background: linear-gradient(green, darkgreen);
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}

.top-row {
  width: 100%;
  display: flex;
}

.deck {
  flex: 1;
}

.deck .slot {
  position: relative;
}

.finished-deck-slots {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}

.playing-field {
  display: flex;
  justify-content: flex-end;
}

.slot {
  position: relative;
  width: 90px;
  height: 120px;
  margin: 20px 0px 20px 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, .5);
}

.deck .slot {
  margin: 20px 0px 20px 0px;
}

.finished-deck-slots .slot {
  border: 1px solid gray;
}

.card {
  position: absolute;
  width: 90px;
  height: 120px;
  border-radius: inherit;
  border: 1px solid gray;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url('../images/spider.png'),
      linear-gradient(white, white);
  background-repeat: no-repeat,
      no-repeat;
  background-position: center,
      left;
      background-size: contain, cover;
}

.card p {
  position: absolute;
  font-size: 16px;
  padding: 3px;
  text-align: center;
  font-weight: 600;
}

.card p:nth-of-type(1) {
  top: 0;
  left: 0;
}

.card p:nth-of-type(2) {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.cover {
  background-image: url('../images/spider.png'),
      linear-gradient(rgb(255, 0, 0), rgb(255, 255, 255));
}

.diamond::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/diamond.png') center no-repeat;
  background-size: contain;
}

.heart::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/heart.png') center no-repeat;
  background-size: contain;
}

.clover::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/clover.png') center no-repeat;
  background-size: contain;
}

.spade::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/spade.png') center no-repeat;
  background-size: contain;
}

.selected {
  outline: solid blue 2px;
}

.show p {
  pointer-events: none;
}

.status-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 3;
  display: none;
}

.status-container > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  background: #fff;
  text-align: center;
}

svg {
  width: 109px;
  height: 100px;
  fill: #fdff00;
  stroke: #605a00;
  stroke-width: 8;
}

.status-container p {
  font-size: 25px;
  line-height: 70px;
}

.playing-field .card:nth-of-type(2) {
  top: 20px;
}

.playing-field .card:nth-of-type(3) {
  top: 40px;
}

.playing-field .card:nth-of-type(4) {
  top: 60px;
}

.playing-field .card:nth-of-type(5) {
  top: 80px;
}

.playing-field .card:nth-of-type(6) {
  top: 100px;
}

.playing-field .card:nth-of-type(7) {
  top: 120px;
}

.playing-field .card:nth-of-type(8) {
  top: 140px;
}

.playing-field .card:nth-of-type(9) {
  top: 160px;
}

.playing-field .card:nth-of-type(10) {
  top: 180px;
}

.playing-field .card:nth-of-type(11) {
  top: 200px;
}

.playing-field .card:nth-of-type(12) {
  top: 220px;
}

.playing-field .card:nth-of-type(13) {
  top: 240px;
}

.playing-field .card:nth-of-type(14) {
  top: 260px;
}

.playing-field .card:nth-of-type(15) {
  top: 280px;
}

.playing-field .card:nth-of-type(16) {
  top: 300px;
}

.playing-field .card:nth-of-type(17) {
  top: 320px;
}

.playing-field .card:nth-of-type(18) {
  top: 340px;
}

.playing-field .card:nth-of-type(19) {
  top: 360px;
}

.playing-field .card:nth-of-type(20) {
  top: 380px;
}

.playing-field .card:nth-of-type(21) {
  top: 400px;
}

.playing-field .card:nth-of-type(22) {
  top: 420px;
}

.playing-field .card:nth-of-type(23) {
  top: 440px;
}

.playing-field .card:nth-of-type(24) {
  top: 460px;
}

.playing-field .card:nth-of-type(25) {
  top: 480px;
}

.playing-field .card:nth-of-type(26) {
  top: 500px;
}

.playing-field .card:nth-of-type(27) {
  top: 520px;
}

.playing-field .card:nth-of-type(28) {
  top: 540px;
}

.playing-field .card:nth-of-type(29) {
  top: 560px;
}
