* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'helvetica', 'arial', sans-serif;
  width: 100%;
}

/* Copy of the body to give a background to the whole page */
.body-copy {
  position: absolute;
  width: 100vw;
  min-height: 1000px;
  max-height: 1300px;
  display: flex;
}

.body-copy .half{
  width: 50%;
  z-index: -1;
}

.half:nth-of-type(1) {
  background: rgba(37, 37, 37);
}

.half:nth-of-type(2) {
  background: linear-gradient(rgb(0, 128, 0), rgb(0, 100, 0));
}

.body-copy .body-cover {
  width: 50%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: rgba(0, 0, 0, .5);
  z-index: 2;
}

.half:nth-of-type(1) .body-cover {
  background: rgb(37, 37, 37);
}

.half:nth-of-type(2) .body-cover {
  background: rgba(0, 0, 0, .5);
}

/* Container of the landing page and the game view*/
.wrapper {
  max-width: 1500px;
  min-height: 1000px;
  max-height: 1300px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

h1,
h2,
h3 {
  font-family: 'Special Elite', cursive;
  letter-spacing: 2px;
}

h2,
h3 {
  color: #008000;
}

section h1 {
  font-size: 60px;
  margin-top: 80px;
  text-align: center;
  color: #f3f3f3;
  line-height: 60px;
  text-transform: uppercase;
}

h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 180px;
  margin-bottom: 40px;
  background: url('../images/web.svg') no-repeat center;
  background-size: contain;
}

/* Landing page view title */
.title {
  position: relative;
}

.title > div:nth-of-type(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
}

.title > div:nth-of-type(2){
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  overflow-x: scroll;
  padding-top: 15px;
  overflow: hidden;
}

section {
  width: 100%;
  min-height: inherit;
  max-height: inherit;
  background: linear-gradient(green, darkgreen);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

.landing-page {
  z-index: 2;
}

.game-page {
  z-index: 1;
}

.title,
.cards {
  width: 70%;
  position: relative;
}

/* Side Bar */
.side-bar {
  padding: 30px;
  width: 30%;
  border-right: 1px solid #fff;
  position: relative;
  color: #fff;
  background: rgb(37, 37, 37);
}

.back, .menu {
  display: none;
}

h2 {
  line-height: 50px;
  margin-bottom: 20px;
}

h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background: url('../images/web.svg') center;
  background-size: contain;
}

/* Rules Section */
.rules {
  margin-bottom: 30px;
}

.rules p {
  letter-spacing: 2px;
  line-height: 25px;
}

.rules li {
  margin-bottom: 10px;
}

.ex {
  color: #008000;
  font-weight: 700;
}

/* Form Container */
.form-container {
  padding: 15px;
  font-size: 20px;
}

h3 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
}

h3:nth-of-type(2) {
  margin-top: 20px;
}

[type='text'] {
  width: 100%;
  margin: 0 0 20px 0;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 5px;
}

[for="diamond"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url('../images/diamond.png') no-repeat center;
  background-size: contain;
}

[for="heart"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url('../images/heart.png') no-repeat center;
  background-size: contain;
}

[for="spade"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url('../images/spade.png') no-repeat center;
  background-size: contain;
}

[for="clover"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url('../images/clover.png') no-repeat center;
  background-size: contain;
}

label {
  display: inline-block;
  padding: 8px 8px 8px 38px;
}

/* Cards container */
.cards {
  padding: 15px 35px;
}

/* Game Score and timer */
.scoring-status {
  width: 100%;
}

.scoring-status > p {
  display: inline-block;
  width: 49%;
  font-size: 24px;
  color: white;
}

.scoring-status > p:nth-of-type(2) {
  float: left;
}

.scoring-status > p:nth-of-type(2) {
  float: right;
  text-align: right;
}

/* Game Buttons */
.game-buttons button {
  display: inline-block;
}

.game-buttons button:nth-of-type(2) {
  margin: 0 10px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 8px 25px;
  background: linear-gradient(green, darkgreen);
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 30px;
  transition: 1s;
}

button:hover {
  background: linear-gradient(rgba(0, 128, 0, .5), rgba(0, 100, 0, .5));
}

/* Playing Cards Game View */
.top-row {
  width: 100%;
  clear: both;
  position: relative;
}

.deck {
  display: inline-block;
}

.deck .slot {
  position: relative;

}

.finished-deck-slots {
  display: inline-block;
  position: absolute;
  right: 0;
}

/* Playing Field View */
.playing-field {
  position: relative;
}

.pl-slots {
  position: absolute;
  right: 0;
}

.slot {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 120px;
  margin: 10px 0px 10px 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, .5);
}

.finished-deck-slots .slot {
  border: 1px solid gray;
}

/* Cards View */
.card {
  position: absolute;
  width: 90px;
  height: 120px;
  border-radius: inherit;
  border: 1px solid gray;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url('../images/spider.png'),
      linear-gradient(white, white);
  background-repeat: no-repeat,
      no-repeat;
  background-position: center,
      left;
      background-size: contain, cover;
}

.card p {
  position: absolute;
  font-size: 16px;
  padding: 3px;
  text-align: center;
  font-weight: 600;
}

.card p:nth-of-type(1) {
  top: 0;
  left: 0;
}

.card p:nth-of-type(2) {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.cover {
  background-image: url('../images/spider.png'),
      linear-gradient(rgb(255, 0, 0), rgb(255, 255, 255));
}

/* Card Symbols */
.diamond::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/diamond.png') center no-repeat;
  background-size: contain;
}

.heart::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/heart.png') center no-repeat;
  background-size: contain;
}

.clover::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/clover.png') center no-repeat;
  background-size: contain;
}

.spade::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/spade.png') center no-repeat;
  background-size: contain;
}

/* Selected Cards */
.selected {
  outline: solid blue 2px;
}

.show p {
  pointer-events: none;
}

/* Game Status Container */
.status-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .1);
  z-index: 4;
  display: none;
}

.status-container > div {
  border: 1px solid white;
  border-radius: 5px;
  margin: 200px auto 0;
  width: 500px;
  padding: 30px;
  background: rgba(37, 37, 37, .9);
  text-align: center;
  color: #fff;
}

/* Stars */
svg {
  width: 80px;
  height: 87px;
  fill: #fdff00;
  stroke: #605a00;
  stroke-width: 10;
}

.status-container p {
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0;
}

/* Confetti */
.piece {
  position: absolute;
  z-index: 3;
}

/* Playing Field margins per line*/
/*.playing-field .card:nth-of-type(2) {
  top: 20px;
}

.playing-field .card:nth-of-type(3) {
  top: 40px;
}

.playing-field .card:nth-of-type(4) {
  top: 60px;
}

.playing-field .card:nth-of-type(5) {
  top: 80px;
}

.playing-field .card:nth-of-type(6) {
  top: 100px;
}

.playing-field .card:nth-of-type(7) {
  top: 120px;
}

.playing-field .card:nth-of-type(8) {
  top: 140px;
}

.playing-field .card:nth-of-type(9) {
  top: 160px;
}

.playing-field .card:nth-of-type(10) {
  top: 180px;
}

.playing-field .card:nth-of-type(11) {
  top: 200px;
}

.playing-field .card:nth-of-type(12) {
  top: 220px;
}

.playing-field .card:nth-of-type(13) {
  top: 240px;
}

.playing-field .card:nth-of-type(14) {
  top: 260px;
}

.playing-field .card:nth-of-type(15) {
  top: 280px;
}

.playing-field .card:nth-of-type(16) {
  top: 300px;
}

.playing-field .card:nth-of-type(17) {
  top: 320px;
}

.playing-field .card:nth-of-type(18) {
  top: 340px;
}

.playing-field .card:nth-of-type(19) {
  top: 360px;
}

.playing-field .card:nth-of-type(20) {
  top: 380px;
}

.playing-field .card:nth-of-type(21) {
  top: 400px;
}

.playing-field .card:nth-of-type(22) {
  top: 420px;
}

.playing-field .card:nth-of-type(23) {
  top: 440px;
}

.playing-field .card:nth-of-type(24) {
  top: 460px;
}

.playing-field .card:nth-of-type(25) {
  top: 480px;
}

.playing-field .card:nth-of-type(26) {
  top: 500px;
}

.playing-field .card:nth-of-type(27) {
  top: 520px;
}

.playing-field .card:nth-of-type(28) {
  top: 540px;
}

.playing-field .card:nth-of-type(29) {
  top: 560px;
}*/

/* Media Queries */
@media (max-width: 1244px) {
  section:nth-of-type(2) .side-bar{
    position: absolute;
    display: none;
    width: 400px;
    height: 100%;
    z-index: 1;
  }

  .side-bar-button {
    width: 8%;
    background: rgb(37, 37, 37);
    border-right: 1px solid #fff;
    padding-top: 30px;
  }

  .menu {
    display: block;
  }

  .side-bar-button span {
    display: block;
    color: #FFF;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-family: 'Special Elite', cursive;
  }

  section .cards{
    width: 92%;
  }

  .back {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    font-family: 'Special Elite', cursive;
    font-size: 22px;
  }
}

@media (max-width: 1150px) {
  section:nth-of-type(1) .side-bar{
    width: 35%;
  }

  section:nth-of-type(1) .title{
    width: 65%;
  }
}

@media (max-width: 878px) {
  .slot {
    width: 70px;
    height: 90px;
  }

  .cards .card {
    width: 70px;
    height: 90px;
  }
}

@media (max-width: 850px) {
  section:nth-of-type(1) .side-bar{
    width: 40%;
  }

  section:nth-of-type(1) .title{
    width: 60%;
  }
}

@media (max-width: 745px) {
  section h1 {
    font-size: 45px;
  }

  section:nth-of-type(1) .side-bar{
    width: 45%;
  }

  section:nth-of-type(1) .title{
    width: 55%;
  }
}

@media (max-width: 738px) {
  .slot {
    width: 55px;
    height: 75px;
  }

  .cards .card {
    width: 55px;
    height: 75px;
  }
}

@media (max-width: 605px) {
  section:nth-of-type(1) .side-bar{
    width: 50%;
  }

  section:nth-of-type(1) .title{
    width: 50%;
  }
}
