* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Times New Roman", "Times", "Georgia", serif;
  width: 100%;
}

fieldset label {
  display: block;
}

section h1 {
  font-size: 80px;
  color: #FFF;
}

.title-card {
  width: 250px;
  height: 380px;
  border: 1px solid black;
  background: black;
  position: absolute;
  top: 50px;
  left: 80px;
  transform: translate(20px, 30px) rotate(40deg);
  border-radius: 12px;
}

#tc1 {
  top: 50px;
  left: 80px;
  background: red;
}

#tc2 {
  top: 160px;
  left: 130px;
  background: yellow;
}

#tc3 {
  top: 280px;
  left: 180px;
  background: blue;
}

section {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  min-height: 736px;
  background: linear-gradient(green, darkgreen);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

@keyframes slide {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.landing-page {
  z-index: 2;
}

.game-page {
  z-index: 1;
}

.title, .cards {
  width: 70%;
  position: relative;
}

.side-bar {
  padding: 50px 20px;
  width: 30%;
  background: linear-gradient(#FFF, #F3F3F3);
}

button {
  display: block;
  margin: 0 auto;
  padding: 12px 35px;
  background: linear-gradient(green, darkgreen);
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}

.cards {
  padding: 15px 35px;
}

.cards > p {
  font-size: 24px;
  color: white;
}

.game-buttons {
  width: 232px;
  margin: 0 auto;
}

.game-buttons button {
  display: inline-block;
}

.top-row {
  width: 100%;
  display: flex;
}

.deck {
  flex: 1;
}

.deck .slot {
  position: relative;
}

.finished-deck-slots {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}

.playing-field {
  display: flex;
  justify-content: flex-end;
}

.slot {
  position: relative;
  width: 100px;
  height: 160px;
  margin: 20px 0px 20px 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.deck .slot {
  margin: 20px 0px 20px 0px;
}

.finished-deck-slots .slot {
  border: 1px solid white;
}

.card {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 1px solid white;
  background: blue;
  top: 0;
  left: 0;
}

.playing-field .slot .card .cover {
  width: 100%;
  height: 100%;
  background: orange;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
}

.playing-field .slot .card:last-child .cover{
  background: transparent;
}
