* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'helvetica', 'arial', sans-serif;
  width: 100%;
}

/* Container of the landing page and the game view*/
.wrapper {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100vh;
  /*background: linear-gradient(green, darkgreen);
  background: linear-gradient(rgb(0, 182, 28), rgb(81, 196, 66));
  background: #6DB556;*/
  overflow: scroll;
}

h1,
h2,
h3 {
  font-family: 'Special Elite', cursive;
  letter-spacing: 2px;
}

h2,
h3 {
  color: #008000;
}

section h1 {
  font-size: 60px;
  margin: 40px 10px 20px;
  text-align: center;
  color: #f3f3f3;
  line-height: 60px;
  text-transform: uppercase;
}

.landing-page {
  position: relative;
  padding: 70px 0 0 0;
  height: 100%;
  z-index: 2;
  background: rgb(37, 37, 37, .6);
}

.game-page {
  z-index: 1;
  background: linear-gradient(green, darkgreen)
}

/* Landing page view title */
.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title > div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding-top: 15px;
  overflow: hidden;
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

/* Side Bar */
.side-bar {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  color: #fff;
}

.back, .menu {
  display: none;
}

h2 {
  line-height: 50px;
  margin-bottom: 20px;
}

h2::after {
  content: "";
  display: block;
  width: 120px;
  height: 30px;
  background: url('../images/web.svg');
  background-size: contain;
}

/* Rules Section */
.rules {
  margin-bottom: 30px;
}

.rules p {
  letter-spacing: 2px;
  line-height: 25px;
}

.rules li {
  margin-bottom: 10px;
}

.ex {
  color: #008000;
  font-weight: 700;
}

/* Form Container */
.form-container {
  padding: 15px;
  font-size: 20px;
}

h3 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
}

h3:nth-of-type(2) {
  margin-top: 20px;
}

[type='text'] {
  width: 100%;
  margin: 0 0 20px 0;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 5px;
}

[for="diamond"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url('../images/diamond.png') no-repeat center;
  background-size: contain;
}

[for="heart"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url('../images/heart.png') no-repeat center;
  background-size: contain;
}

[for="spade"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url('../images/spade.png') no-repeat center;
  background-size: contain;
}

[for="clover"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url('../images/clover.png') no-repeat center;
  background-size: contain;
}

label {
  display: inline-block;
  padding: 8px 8px 8px 38px;
}

/* Game Score and timer */
.scoring-status {
  padding: 0 10px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scoring-status p {
  display: inline-block;
  padding: 0 0 0 20px;
  font-size: 24px;
  color: white;
}

/* Game Buttons */

.game-buttons button {
  display: inline-block;
  margin: 10px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 8px 25px;
  background: linear-gradient(green, darkgreen);
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 30px;
  transition: 1s;
}

button:hover {
  background: linear-gradient(rgba(0, 128, 0, .5), rgba(0, 100, 0, .5));
}

/* Playing Cards Game View */
.top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.deck .slot {
  position: relative;
}

.finished-deck-slots {
  display: flex;
}

/* Playing Field View */
.playing-field {
  position: relative;
}

.pl-slots {
  display: flex;
  justify-content: flex-end;
}

.slot {
  position: relative;
  width: 90px;
  height: 120px;
  margin: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, .5);
}

.pl-slots .slot .card:last-child {
  margin-bottom: 50px;
}

.finished-deck-slots .slot {
  border: 1px solid gray;
}

/* Cards View */
.card {
  position: absolute;
  width: 90px;
  height: 120px;
  border-radius: inherit;
  border: 1px solid gray;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url('../images/spider.png'),
      linear-gradient(white, white);
  background-repeat: no-repeat,
      no-repeat;
  background-position: center,
      left;
      background-size: contain, cover;
}

.card p {
  position: absolute;
  font-size: 16px;
  padding: 3px;
  text-align: center;
  font-weight: 600;
}

.card p:nth-of-type(1) {
  top: 0;
  left: 0;
}

.card p:nth-of-type(2) {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.cover {
  background-image: url('../images/spider.png'),
      linear-gradient(rgb(255, 0, 0), rgb(255, 255, 255));
}

/* Card Symbols */
.diamond::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/diamond.png') center no-repeat;
  background-size: contain;
}

.heart::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/heart.png') center no-repeat;
  background-size: contain;
}

.clover::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/clover.png') center no-repeat;
  background-size: contain;
}

.spade::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/spade.png') center no-repeat;
  background-size: contain;
}

/* Selected Cards */
.selected {
  outline: solid blue 2px;
}

.show p {
  pointer-events: none;
}

/* Game Status Container */
.status-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .1);
  z-index: 4;
  display: none;
}

.status-container > div {
  border: 1px solid white;
  border-radius: 5px;
  margin: 200px auto 0;
  width: 500px;
  padding: 30px;
  background: rgba(37, 37, 37, .9);
  text-align: center;
  color: #fff;
}

/* Stars */
svg {
  width: 80px;
  height: 87px;
  fill: #fdff00;
  stroke: #605a00;
  stroke-width: 10;
}

.status-container p {
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0;
}

/* Confetti */
.piece {
  position: absolute;
  z-index: 3;
}

/* Media Queries */
@media (max-width: 1244px) {
  section:nth-of-type(2) .side-bar{
    position: absolute;
    display: none;
    width: 400px;
    height: 100%;
    z-index: 1;
  }

  .side-bar-button {
    width: 8%;
    background: rgb(37, 37, 37);
    border-right: 1px solid #fff;
    padding-top: 30px;
  }

  .menu {
    display: block;
  }

  .side-bar-button span {
    display: block;
    color: #FFF;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-family: 'Special Elite', cursive;
  }

  section .cards{
    width: 92%;
  }

  .back {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    font-family: 'Special Elite', cursive;
    font-size: 22px;
  }
}

@media (max-width: 1150px) {
  section:nth-of-type(1) .side-bar{
    width: 35%;
  }

  section:nth-of-type(1) .title{
    width: 65%;
  }
}

@media (max-width: 878px) {
  .slot {
    width: 70px;
    height: 90px;
  }

  .cards .card {
    width: 70px;
    height: 90px;
  }
}

@media (max-width: 850px) {
  section:nth-of-type(1) .side-bar{
    width: 40%;
  }

  section:nth-of-type(1) .title{
    width: 60%;
  }
}

@media (max-width: 745px) {
  section h1 {
    font-size: 45px;
  }

  section:nth-of-type(1) .side-bar{
    width: 45%;
  }

  section:nth-of-type(1) .title{
    width: 55%;
  }
}

@media (max-width: 738px) {
  .slot {
    width: 55px;
    height: 75px;
  }

  .cards .card {
    width: 55px;
    height: 75px;
  }
}

@media (max-width: 605px) {
  section:nth-of-type(1) .side-bar{
    width: 50%;
  }

  section:nth-of-type(1) .title{
    width: 50%;
  }
}
